%p
  We gladly welcome and support members who can't afford to pay membership dues! That's why any member can request a scholarship due to financial need at any time. There is no waiting period before you can apply for a scholarship or other restriction on when or how often you can ask for a scholarship.

%p
  Your scholarship application will be reviewed by a member of the board of directors and either granted or turned down within 2 weeks. We won't ask for documentation or proof of financial need, and we won't share your scholarship application with anyone else. If you don't hear back about your application within 2 weeks, please email #{ mail_to BOARD_EMAIL }.

%p
  Keep in mind the following:

%ul
  %li
    We do not grant scholarships for reasons other than financial need. Financial need is defined as: paying $10/month would interfere with the member's ability to: pay for rent, food, medical care, transit, clothes, schooling, employment-related opportunities, and other important parts of life.
  %li
    Examples of people who would qualify:
    %ul
      %li long-term unemployed or underemployed people,
      %li students of many types,
      %li people working jobs below the Bay Area median wage,
      %li people with significant medical bills relative to their income,
      %li struggling writers or artists,
      %li people working low-income jobs,
      %li young people with little or no support from their parents, and
      %li retired people whose retirement income is relatively low.
  %li
    Very few people employed full-time in the tech industry in the Bay Area will qualify as being in financial need.
  %li
    In particular, if you are moving away or otherwise unable to visit DU in person for a while, and you want to continue being a member, and you can afford to pay membership dues, you must still pay membership dues.


= form_tag members_user_scholarship_request_path, method: :post, class: "form mt-20" do
  = label_tag :reason, "Paying $10/month would be a financial hardship for me because:"
  = text_area_tag :reason, "", rows: 3, class: "form-control"
  = submit_tag "Submit", class: "btn btn-primary"
