= content_for :js do
  = javascript_include_tag :dues

%h2 Manage Your Double Union Dues

%p Membership dues payments are handled via Stripe, which will charge your credit or debit card on the same date each month. If you need to change your dues payment, just fill in the form again and it will be updated.

%h3 Current Dues Status

- if @subscription
  %p
    Your current Stripe subscription is
    %b
      #{number_to_currency (@subscription.plan.amount / 100)}
    per #{@subscription.plan.interval}, and your status is <b>#{@subscription.status}</b>.
- elsif current_user.is_scholarship?
  %p You are receiving a scholarship for your dues payments.
- else
  %p You don't have a Stripe subscription yet, or it may have been canceled. Please add your credit or debit card, or request a scholarship below! <3

= render 'form', action: "Update"

  %p If you'd like to cancel your Double Union membership or have other questions about dues and membership, please email membership@doubleunion.org to reach the membership coordinators.

%h3 Apply for a Scholarship

= render "scholarship_request"
