= content_for :js do
  = javascript_include_tag :dues

%h2 Manage Your Double Union Dues

%p Membership dues payments are handled via Stripe, which will charge your credit or debit card on the same date each month.

%p If you need to change your dues payment, just fill in the form again and it will be updated. (If you switch your dues to a lower level, our dues system automatically pro-rates your next payments, so you may get charged a lower partial amount [or nothing] on your next scheduled dues payment date. This is ok!)

%h3 Current Dues Status

- if @subscription
  %p
    Your current Stripe subscription is
    %b
      #{number_to_currency (@subscription.plan.amount / 100)}
    per #{@subscription.plan.interval}, and your status is <b>#{@subscription.status}</b>.
- elsif current_user.is_scholarship?
  %p You are receiving a scholarship for your dues payments.
- else
  %p You don't have a Stripe subscription yet, or it may have been canceled. Please add your credit or debit card, or request a scholarship below! <3

= render 'form', action: "Update"


%h3 Apply for a Scholarship

= render "scholarship_request"

.cancel-membership
  %h3 Cancel your Membership
  %p If you'd like to cancel your Double Union membership, click #{link_to "here", members_user_cancel_path, method: :delete, id: "cancel-btn", data: { confirm: "Are you sure? Clicking yes will cancel your payments, and inform the membership coordinator to remove you from all mailing lists." } }. If you have other questions about dues and membership, please email #{ mail_to MEMBERSHIP_EMAIL } to reach out to the membership coordinators.
