= content_for :js do
  = javascript_include_tag :dues

%h2 Manage Membership

%ul
  %li #{ link_to "Update Membership Dues", "#update-membership-dues" }
  %li #{ link_to "Apply for a Scholarship", "#apply-for-a-scholarship" }
  %li #{ link_to "Cancel Your Membership", "#cancel-your-membership" }

%h3#update-membership-dues Update Membership Dues

%p Membership dues payments are handled via Stripe, which will charge your credit or debit card on the same date each month.

%p If you need to change your dues payment, just fill in the form again and it will be updated. (If you switch your dues to a lower level, our dues system automatically pro-rates your next payments, so you may get charged a lower partial amount [or nothing] on your next scheduled dues payment date. This is ok!)

%h4#your-dues-status Your Current Dues Status

- if @subscription
  %p
    Your current Stripe subscription is
    %b
      #{number_to_currency (@subscription.plan.amount / 100)}
    per #{@subscription.plan.interval}, and your status is <b>#{@subscription.status}</b>.
- elsif current_user.scholarship_since.present?
  %p You are receiving a scholarship for your dues payments.
- else
  %p You don't have a Stripe subscription yet, or it may have been canceled. Please add your credit or debit card, or request a scholarship below! <3

  %p On average members give $30 / month, but please select whatever you can afford. Your dues go directly towards sustaining the space, such as paying for rent, buying supplies, and maintaining our tools.

= render 'form', action: "Update"

%p Any dues you pay above the base level of $10 / month can be counted as a tax-deductible donation to Double Union for your taxes or your company's donation matching program.

%p For example, if you paid $20 / month for a full year, you could include a $120 donation to Double Union on your taxes.

%p If you want to use your company's donation matching program, you may want to set up $10 / month dues here and an additional monthly recurring donation through your company's system. If you'd like help setting up donation matching, email #{ mail_to BOARD_EMAIL }.

%h3#apply-for-a-scholarship Apply for a Scholarship

= render "scholarship_request"

.cancel-membership
  %h3#cancel-your-membership Cancel Your Membership
  %p If you'd like to cancel your Double Union membership, click #{link_to "here", members_user_cancel_path, method: :delete, id: "cancel-btn", data: { confirm: "Are you sure? Clicking yes will cancel your payments, and inform the membership coordinator to remove you from all mailing lists." } }. If you have other questions about dues and membership, please email #{ mail_to MEMBERSHIP_EMAIL } to reach out to the membership coordinators.
