= content_for :js do
  = javascript_include_tag :dues

%h2 Manage Membership

%ul
  %li #{ link_to "Update Membership Dues", "#update-membership-dues" }
  %li #{ link_to "Apply for a Scholarship", "#apply-for-a-scholarship" }
  %li #{ link_to "Cancel Your Membership", "#cancel-your-membership" }

%h3#update-membership-dues Update Membership Dues

%p Membership dues payments are handled via Stripe, which will charge your credit or debit card on the same date each month.

%p If you need to change your dues payment, just fill in the form again and it will be updated. (If you switch your dues to a lower level, our dues system automatically pro-rates your next payments, so you may get charged a lower partial amount [or nothing] on your next scheduled dues payment date. This is ok!)

%h4#your-dues-status Your Current Dues Status

- if @subscription
  %p
    Your current Stripe subscription is
    %b
      #{number_to_currency (@subscription.plan.amount / 100)}
    per #{@subscription.plan.interval}, and your status is <b>#{@subscription.status}</b>.
- elsif current_user.is_scholarship?
  %p You are receiving a scholarship for your dues payments.
- else
  %p You don't have a Stripe subscription yet, or it may have been canceled. Please add your credit or debit card, or request a scholarship below! <3

  %p On average members give $30 / month, but please select whatever you can afford. Your dues go directly towards sustaining the space, such as paying for rent, buying supplies, and maintaining our tools.

= render 'form', action: "Update"

%p Note: If you would like to update the card that is on file without changing your dues amount, leave the dues amount dropdown where it is and click the "Update Dues" button. A Stripe popup will appear where you can enter new card information.

%h4 Suggestions

%table{:width=>"100%"}
  %tr
    %th Income
    %th Suggested range (but it's up to you)
  %tr
    %td Below $100,000
    %td $30-$75
  %tr
    %td $100,000-$200,000
    %td $75-$100
  %tr
    %td $200,000+
    %td Pay what you can over $100/month
    
%p Any dues you pay above $10 / month can be counted as a tax-deductible donation to Double Union for your taxes or your company's donation matching program.

%p For example, if you paid $30 / month for a full year, you could include a $240 donation to Double Union on your taxes.

%p You are highly encouraged to set up company donation matching! If you'd like to donate through Benevity or similar to maximize matching, email #{ mail_to BOARD_EMAIL } so we can make sure your donations are linked to you.

%h3#apply-for-a-scholarship Apply for a Scholarship

= render "scholarship_request"

.cancel-membership
  %h3#cancel-your-membership Cancel Your Membership
  %p If you'd like to cancel your Double Union membership, click #{link_to "here", members_user_cancel_path, method: :delete, id: "cancel-btn", data: { confirm: "Are you sure? Clicking yes will cancel your payments, and inform the membership coordinator to remove you from all mailing lists." } }. If you have other questions about dues and membership, please email #{ mail_to MEMBERSHIP_EMAIL } to reach out to the membership coordinators.
