- if @applicants_submitted.any?
  %h2 Submitted Applications
  %p As guided by our #{ link_to "Confidentiality Policy", "https://docs.google.com/document/d/1X7UEBNjojwB90Wuewfk4IiDpV2oL6av9mqdD8F0zXzY/edit", target: "_blank" }, please keep all information about people's individual applications (such as contents, comments from members, and votes) confidential among DU members.

  %p
    The "Enough Votes?" column is looking for #{Application.minimum_yes_votes}+ yes votes or
    more than 1 no vote, which is enough votes to make a decision
    per our #{ link_to "application criteria", VOTING_PROCESS_DOC, target: "_blank" }.
    Members also need to have at least one sponsor to be accepted (so someone with lots of
    yeses but no sponsor can't be accepted).

  %table.table.table-striped.js-datatable-applications.applications
    %thead
      %tr.more-padding
        %th.name Name
        %th.date Submitted
        %th Enough Votes?
        %th Sponsors
        %th Comments
        - if current_user.voting_member?
          %th You
        %th Yes
        %th No
        %th ?
        %th Age
    %tbody
      - @applicants_submitted.each do |applicant|
        - application = applicant.application
        %tr
          %td.name
            = user_gravatar(applicant, 20)
            = link_to applicant.name, members_application_path(application)
          %td
            - if application.submitted_at
              = application.submitted_at.strftime('%b %d, %Y')
            - else
              \--
          %td
            = application.sufficient_votes? ? "enough" : "not yet"
          %td
            = application.sponsorships.count
          %td= application.comments.size
          - if current_user.voting_member?
            %td
              - if current_user.voted_on?(application)
                = current_user.vote_for(application).display_value
              - else
                none
          %td= application.yes_votes.size
          %td= application.no_votes.size
          %td= application.not_voted_count
          -age_in_days = (application.age/ 1.day).floor
          %td{:class => ("overdue-highlighted" if application.age > 2.months)}
            = "#{age_in_days} days"




  %h3
    %a{"data-toggle" => "collapse" , "href" => "#collapseEmails"} Applicant Email Addresses <b class="caret"></b>
  %div.collapse.out#collapseEmails
    %p Don't spam people! Just invite them to DU things :D
    %h4 Applicants with no sponsors
    %ul.list-unstyled
      - @emails_with_no_sponsors.each do |email|
        %li= email
    %h4 Applicants with sponsors
    %ul.list-unstyled
      - @emails_with_sponsors.each do |email|
        %li= email
