%h2 Member Console

- if @applicants_submitted.any?
  %h3 Submitted applications
  %table.table
    %tr
      %th Name
      %th Username
      %th Submitted
      %th Sponsors
      - if current_user.key_member?
        %th You
      %th Yes
      %th No
      %th ?
    - @applicants_submitted.each do |applicant|
      - application = applicant.application
      %tr
        %td
          = user_gravatar(applicant, 20)
          = link_to applicant.name, members_application_path(application)
        %td= link_to applicant.username, members_application_path(application)
        %td
          - if application.submitted_at
            = "#{time_ago_in_words(application.submitted_at)} ago"
          - else
            \--
        %td
          = application.sponsorships.count
        - if current_user.key_member?
          %td
            - if current_user.voted_on?(application)
              = current_user.vote_for(application).display_value
            - else
              none
        %td= application.yes_votes.size
        %td= application.no_votes.size
        %td= application.not_voted_count

  %h3
    %a{"data-toggle" => "collapse" , "href" => "#collapseEmails"} Applicant Email Addresses <b class="caret"></b>
  %div.collapse.out#collapseEmails
    %p Don't spam people! Just invite them to DU things :D
    %ul.list-unstyled
      - @applicants_started.each do |applicant|
        - if applicant.email.present?
          %li= applicant.email

- if @applicants_started.any?
  %h3.pending-applications-header
    %a{"data-toggle" => "collapse" , "href" => "#collapsePending"} Pending  applications <b class="caret"></b>
  %div.collapse.out#collapsePending
    %table.table
      %tr
        %th Name
        %th Username
        %th Started
      - @applicants_started.each do |applicant|
        - application = applicant.application
        %tr
          %td
            = user_gravatar(applicant, 20)
            = applicant.name
          %td= applicant.username
          %td= "#{time_ago_in_words(application.created_at)} ago"

