%p= link_to "Back to Applications Overview", members_applications_path

%h3 Application
%p As guided by our #{ link_to "Confidentiality Policy", "https://docs.google.com/document/d/1X7UEBNjojwB90Wuewfk4IiDpV2oL6av9mqdD8F0zXzY/edit", target: "_blank" }, please keep all information about people's individual applications (such as contents, comments from members, and votes) confidential among DU members.
= render partial: 'applications/show', locals: { user: @user }

- if !logged_in_as?(@user) && current_user.voting_member?
  %h3= @user.name

  - if current_user.voted_on?(@application)
    - vote = current_user.vote_for(@application)
    %p
      You voted <strong>#{vote.display_value}</strong>
      #{time_ago_in_words(vote.created_at)} ago

  = form_for @vote, url: members_votes_path, method: :post do |f|
    = f.hidden_field :application_id, value: @application.id
    = f.submit 'Yes', name: 'vote_yes', disabled: vote && vote.value
    = f.submit 'No',  name: 'vote_no',  disabled: vote && !vote.value

  - if current_user.voted_on?(@application)
    #{ link_to 'Remove your vote', members_vote_path, method: :delete }

- elsif !logged_in_as?(@user) && current_user.member?
  %h3= @user.name
  %button{ disabled: true }
    Only Voting Members Can Vote

%h3 Sponsorship

- if current_user.mature?
  = form_for :sponsorship, url: members_application_sponsor_path(@application), method: :post do |f|
    = label_tag :is_sponsor do
      = check_box_tag :is_sponsor, 1, @sponsorship.present?
      I've met this person and think they would be a respectful member of the DU community.
    = f.submit "Submit", class: "btn btn-primary"
- else
  %p You'll be able to sponsor applicants once you've been a member for 2 weeks!

%h3 Status

%table.table
  %tr
    %td Submitted
    %td
      - if @application.submitted_at
        = pretty_timestamp(@application.submitted_at)
        %small= "(#{time_ago_in_words(@application.submitted_at)} ago)"
  %tr
    %td Sponsors (who have met this person and recommend them)
    %td
      - if @application.sponsorships.any?
        - @application.sponsorships.each do |sponsor|
          = link_to sponsor.user.name, members_user_path(sponsor.user)
      - else
        none, yet
  %tr
    %td Votes <strong>for</strong> membership (#{@application.yes_votes.size})
    %td
      - if @application.yes_votes.any?
        - @application.yes_votes.each do |vote|
          = link_to vote.user.name, members_user_path(vote.user)
          <br />
      - else
        \--
  %tr
    %td Votes <strong>against</strong> membership (#{@application.no_votes.size})
    %td= @application.no_votes.any? ? 'hidden' : '--'
  %tr
    %td Not yet voted (#{@application.not_voted_count})
    %td= @application.not_voted_count > 0 ? 'hidden' : '--'

%h3 Comments
%p
  You can help voting members decide on applications by writing comments! Here's our
  %strong= link_to "criteria for prospective members", VOTING_CRITERIA_DOC, target: "_blank"
  to consider when commenting, sponsoring, and voting.
%p Your comment will be visible to yourself and current voting members. Voting members can see all member comments.
%p
  If you have a concern about an applicant that you want to report privately,
  = succeed "." do
    %strong= link_to "here's how to send your comment", COMMENTING_DOC, target: "_blank"
  Thanks!

%hr

- @comments.each do |comment|
  - commenter = comment.user
  .comment
    = link_to user_gravatar(commenter, 20), members_user_path(commenter)
    = "#{link_to commenter.name, members_user_path(commenter), title: commenter.name}:".html_safe
    = simple_format comment.body
    %small{ title: comment.created_at }
      = "#{time_ago_in_words(comment.created_at)} ago"


= form_for [:members, @application, Comment.new], class: "form-horizontal" do |f|
  .comment.form-group
    .mb-5
      = link_to user_gravatar(current_user, 20), members_user_path(current_user)
      = "#{link_to current_user.name, members_user_path(current_user)}:".html_safe
    = f.hidden_field :application_id, value: @application.id
    = f.text_area :body, rows: 3, class: "form-control"
    %fieldset= f.submit 'Add comment', class: "btn btn-primary pull-right"

%p= link_to "Back to Applications Overview", members_applications_path
