<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Index Number</th>
      <th>Status</th>
      <th>Assigned To</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% door_codes.each do |door_code| %>
      <tr>
        <td>
          <%= door_code.code %>
        </td>
        <td>
          <%= door_code.index_number %>
        </td>
        <td>
          <%= door_code.status %>
        </td>
        <td>
          <%= door_code.user_id.present? ? door_code.user.name : "unassigned"  %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_door_code_path(door_code), class: "btn btn-primary"  %>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>
