<h1>Manage Door Codes</h1>

<%= link_to 'Add New Door Code', new_admin_door_code_path(), class: "btn btn-primary" %>

<%= form_with url: generate_new_admin_door_codes_path(), method: :post, local: true do |form| %>
  <%= form.submit "Autogenerate New Door Codes", class: "btn btn-primary" %>
<% end %>

<h2>Existing Door Codes</h2>

<%= render partial: 'status_legend' %>

<% door_codes_by_status.each do |status, door_codes| %>
  <h4>Status: <%= status %></h4>
  <%= render partial: 'codes_table', locals: { door_codes: door_codes } %>
<% end %>
