<h1>Add New Door Codes</h1>

<%# TODO: Add x new door codes link %>

<h2>Input New Door Code</h2>

<%= form_with(model: [:admin, door_code], local: true) do |door_code_form| %>
  <p class="bg-danger">
    <% door_code.errors.messages.each do |field, msgs| %>
      <strong><%= field.to_s.humanize %>:</strong>
      <%= msgs.join(', ') %>
    <% end %>
  </p>

  <div class="form-group">
    <%= door_code_form.label :code %>
    <%= door_code_form.text_field :code %>
  </div>

  <div class="form-group">
    <%= door_code_form.label :status %>
    <%= door_code_form.select :status, DoorCode.statuses.keys.to_a %>
  </div>

  <div class="form-group">
    <%= door_code_form.label :user_id %>
    <%= door_code_form.select :user_id, User.all.collect { |u| [u.name, u.id] }, { include_blank: true} %>
    <p class="help-block">Optional. Use only if you want to assign this code to an existing user.</p>
  </div>

  <div>
    <%= door_code_form.submit %>
  </div>
<% end %>
