%table.table

  %tr
    %td.left
      Full name
      %small (required)
    %td= @user.name

  %tr
    %td.left
      Email
      %small (required)
    %td= @user.email
  %tr
    %td.left
      Pronouns
      %small (optional)
      %p.small *This does not affect your application. Double Union members want to use your correct pronouns.
    %td= @user.profile.pronouns
  %tr
    %td.left Twitter url
    %td= external_auto_link(@user.profile.twitter_url)

  %tr
    %td.left Facebook url
    %td= external_auto_link(@user.profile.facebook)

  %tr
    %td.left Website url
    %td= external_auto_link(@user.profile.website)

  %tr
    %td.left LinkedIn url
    %td= external_auto_link(@user.profile.linkedin)

  %tr
    %td.left Why are you interested in joining Double Union?
    %td= markdown(@user.profile.reasons)

  %tr
    %td.left Tell us about your feminism!
    %td= markdown(@user.profile.feminism)

  %tr
    %td.left Have you been to DU events or met DU members?
    %td= markdown(@user.profile.attendance)