%h2 Membership application

%p
  = "Hello! We're glad you're interested in becoming a member of Double Union. We love reading applications and look forward to meeting you if we haven't already."
  = "If you have any questions about the application or application process, please email our membership coordinators at "
  #{ mail_to JOIN_EMAIL }.

%p
  = "You can save this application at any time before you submit it. Once submitted, the content will be readable by all current Double Union members. No part of this application will ever be public."

%p
  = "A small tip: The paragraph questions are parsed as markdown! "
  #{ link_to "Here's a", "https://caleorourke.gitbooks.io/redcarpet-syntax/content/cheatsheet/index.html", target: "_blank"}
  = " markdown syntax cheatsheet."
  = "That means that you can also just type in sentences or paragraphs and it'll look fine, too. You can also "
  #{ link_to "preview your application", application_path(@user.application), target: "_blank"}
  = " before or after submitting it."

%p
  = "If this application looks blanker than you left it, double check that you logged in with the same service as before by logging out and trying the other one (GitHub or Google)."


- if Configurable[:application_deadline_warning].present?
  .alert.alert-info
    = Configurable[:application_deadline_warning]

= form_for @user, url: application_path(@user.application) do |f|

  %fieldset
    - if @user.application.submitted?
      = f.submit "Update application", name: 'save', class: "btn"
    - else
      = f.submit "Save without submitting", name: 'save', class: "btn"

  %table.table

    %tr
      %td
        = f.label :name, "Full name"
        %small #{"required"}
      %td= f.text_field :name, required: true

    %tr
      %td
        = f.label :email, "Email"
        %small #{"required"}
      %td= f.text_field :email, required: true

    = f.fields_for :profile do |profile_fields|
      = profile_fields.hidden_field :id

      %tr
        %td
          = profile_fields.label :pronouns, ("pronouns").capitalize

          %p.small
            = ("What ")
            #{ link_to "pronouns", PRONOUNS_GUIDE_URL, target: "_blank" }
            = " should people use for you at Double Union, such as at events? (This doesn't affect your application, we just want to know how to refer to you respectfully.)"

        %td= profile_fields.text_field :pronouns

      %tr
        %td
          = profile_fields.label :twitter, "Twitter username"
          %small
            = "(optional)"
        %td= profile_fields.text_field :twitter

      %tr
        %td
          = profile_fields.label :facebook, "Facebook URL"
          %small
            = "(optional)"
        %td= profile_fields.text_field :facebook

      %tr
        %td
          = profile_fields.label :website, "Website URL"
          %small
            = "(optional)"
        %td= profile_fields.text_field :website

      %tr
        %td
          = profile_fields.label :linkedin, "LinkedIn URL"
          %small
            = "(optional)"
        %td= profile_fields.text_field :linkedin

      %tr
        %td
          = profile_fields.label :reasons, "Why are you interested in joining Double Union?"
          %p.small
            = "We ask this because we'd like to learn about how your interests relate to DU. For example, what would you like to work on here, or what would you like to learn or share here?"
          %p.small
            = "Required — 2000 character maximum."
        %td= profile_fields.text_area :reasons, rows: 10

      %tr
        %td
          = profile_fields.label :feminism, "Tell us about your feminism!"
          %p.small
            = "We ask this because we care about DU being an intersectional feminist space, and it's important to us that new members care about this too."
          %p.small
            = "To help us understand your view, we'd like to hear about your thoughts around your own feminism. It's ok if you don't have a formal or academic way of talking about this!"
          %p.small
            = "If you’d like examples, we encourage you to consider these questions: How does your feminism relate to race and class? How does your feminism include transgender people? How does your feminism show up in your lived experiences and/or your philosophy?"
          %p.small
            = "Required — 2000 character maximum."
        %td= profile_fields.text_area :feminism, rows: 12

      %tr
        %td
          = profile_fields.label :attendance, "Have you been to DU events or met DU members?"
          %p.small
            = "This is not needed to send in an application, but it helps us remember if we’ve met you! Please include people’s names if you can (it’s completely ok if you can’t). Or let us know if you're planning to attend an upcoming event, so we can say hi to you."
          %p.small
            = "Required — 2000 character maximum."
        %td= profile_fields.text_area :attendance, rows: 8

      %tr.nested-table
        %td{ colspan: 2 }
          %table
            = f.fields_for :application do |app_fields|
              = app_fields.hidden_field :id

              %tr
                %td.pt-10= app_fields.check_box :agreement_terms
                %td.pt-10.pl-10= app_fields.label :agreement_terms, "#{"I understand the"} #{link_to "privileges and responsibilities", MEMBERSHIP_URL, target: "_blank"} #{"that come with Double Union membership."}".html_safe, class: 'checkbox-label'

              %tr
                %td.pt-10= app_fields.check_box :agreement_policies
                %td.pt-10.pl-10= app_fields.label :agreement_policies, "#{"I agree to all posted"} #{link_to "Double Union policies", POLICIES_URL, target: "_blank"}.".html_safe, class: 'checkbox-label'

              %tr
                %td.pt-10= app_fields.check_box :agreement_female
                %td.pt-10.pl-10= app_fields.label :agreement_female, "#{"To keep the focus on a great space for nonbinary people and women (trans, cis, intersex, queer, straight, and not-fitting-into-those-labels), DU offers membership to women and nonbinary people. This fits with my self-identification."}", class: 'checkbox-label'

  - if @user.application.submitted?
    = f.submit "Update application", name: 'save', class: "btn"
  - else
    = f.submit "Save without submitting", name: 'save', class: "btn"

  - if @user.application.submitted?
    %p
      = "Application submitted"
      #{time_ago_in_words(@user.application.submitted_at)}
      = " ago"
    %p= link_to 'View application', application_path(@user.application)
  - else
    %h3
      = "Submit"
    %p
      = "When you're done with your application, submit it with the button below. You will be able to edit it any time before the membership drive closes."
    %p
      = "If you're curious what your application will look like to us, you can "
      #{ link_to "check it out here", application_path(@user.application), target: "_blank"}.

    %fieldset
      = f.submit "Submit application", name: 'submit', class: "btn btn-primary"
