%h2 Membership application

=link_to t(:view_in), edit_application_path(current_user.application, locale: t(:new_locale)), data: {confirm: t(:confirm_language_switch)}

%p
  = t(:glad_for_interest)
  = t(:any_questions)
  #{ mail_to JOIN_EMAIL }.

%p
  = t(:never_be_public)

%p
  = t(:small_tip)
  #{ link_to t(:here_is), "https://caleorourke.gitbooks.io/redcarpet-syntax/content/cheatsheet/index.html", target: "_blank"}
  = t(:markdown_cheatsheet)
  = t(:that_means)
  #{ link_to t(:preview_application), application_path(@user.application), target: "_blank"}
  = t(:before_or_after)

%p
  = t(:blanker_application)


- if Configurable[:application_deadline_warning].present?
  .alert.alert-info
    = Configurable[:application_deadline_warning]

= form_for @user, url: application_path(@user.application) do |f|

  %fieldset
    - if @user.application.submitted?
      = f.submit t(:update), name: 'save', class: "btn"
    - else
      = f.submit t(:save_without_submitting), name: 'save', class: "btn"

  %table.table

    %tr
      %td
        = f.label :name, t(:full_name)
        %small #{t(:required)}
      %td= f.text_field :name, required: true

    %tr
      %td
        = f.label :email, t(:email)
        %small #{t(:required)}
      %td= f.text_field :email, required: true

    = f.fields_for :profile do |profile_fields|
      = profile_fields.hidden_field :id

      %tr
        %td
          = profile_fields.label :pronouns, (t(:pronouns)).capitalize

          %p.small
            = (t(:what))
            #{ link_to t(:pronouns), PRONOUNS_GUIDE_URL, target: "_blank" }
            = t(:should_people_use)

        %td= profile_fields.text_field :pronouns

      %tr
        %td
          = profile_fields.label :twitter, t(:twitter_username)
          %small
            = t(:optional)
        %td= profile_fields.text_field :twitter

      %tr
        %td
          = profile_fields.label :facebook, t(:facebook_url)
          %small
            = t(:optional)
        %td= profile_fields.text_field :facebook

      %tr
        %td
          = profile_fields.label :website, t(:website_url)
          %small
            = t(:optional)
        %td= profile_fields.text_field :website

      %tr
        %td
          = profile_fields.label :linkedin, t(:linkedin_url)
          %small
            = t(:optional)
        %td= profile_fields.text_field :linkedin

      %tr
        %td
          = profile_fields.label :blog, t(:blog_url)
          %small
            = t(:optional)
        %td= profile_fields.text_field :blog

      %tr
        %td
          = profile_fields.label :summary, t(:tell_us_about_yourself)
          %p.small
            = t(:overall_story)
          %p.small
            = t(:required_character_limit)
        %td= profile_fields.text_area :summary, rows: 10

      %tr
        %td
          = profile_fields.label :reasons, t(:why_interested)
          %p.small
            = t(:interests_and_goals)
          %p.small
            = t(:required_character_limit)
        %td= profile_fields.text_area :reasons, rows: 10

      %tr
        %td
          = profile_fields.label :reasons, t(:tell_us_about_feminism)
          %p.small
            = t(:intersectional)
            #{ link_to t(:base_assumptions), BASE_ASSUMPTIONS_URL, target: "_blank" }
            = t(:help_explain_values)
          %p.small
            = t(:required_character_limit)
        %td= profile_fields.text_area :feminism, rows: 10

      %tr
        %td
          = profile_fields.label :projects, t(:what_to_work_on)
          %p.small
            = t(:curious)
          %p.small
            = t(:required_character_limit)
        %td= profile_fields.text_area :projects, rows: 10

      %tr
        %td
          = profile_fields.label :skills, t(:skills)
          %p.small
            = t(:same_as_above)
          %p.small
            = t(:required_character_limit)
        %td= profile_fields.text_area :skills, rows: 10

      %tr.nested-table
        %td{ colspan: 2 }
          %table
            = f.fields_for :application do |app_fields|
              = app_fields.hidden_field :id

              %tr
                %td.pt-10= app_fields.check_box :agreement_terms
                %td.pt-10.pl-10= app_fields.label :agreement_terms, "#{t(:understand)} #{link_to t(:privileges), MEMBERSHIP_URL, target: "_blank"} #{t(:membership)}".html_safe, class: 'checkbox-label'

              %tr
                %td.pt-10= app_fields.check_box :agreement_policies
                %td.pt-10.pl-10= app_fields.label :agreement_policies, "#{t(:agree)} #{link_to t(:policies), POLICIES_URL, target: "_blank"}.".html_safe, class: 'checkbox-label'

              %tr
                %td.pt-10= app_fields.check_box :agreement_female
                %td.pt-10.pl-10= app_fields.label :agreement_female, "#{t(:keep_focus)}", class: 'checkbox-label'

  - if @user.application.submitted?
    = f.submit t(:update), name: 'save', class: "btn"
  - else
    = f.submit t(:save_without_submitting), name: 'save', class: "btn"

  - if @user.application.submitted?
    %p
      = t(:application_submitted)
      #{time_ago_in_words(@user.application.submitted_at)}
      = t(:ago)
    %p= link_to 'View application', application_path(@user.application)
  - else
    %h3
      = t(:submit)
    %p
      = t(:when_done)
    %p
      = t(:if_curious)
      #{ link_to t(:check_it_out), application_path(@user.application), target: "_blank"}.

    %fieldset
      = f.submit t(:submit_application), name: 'submit', class: "btn btn-primary"
