%h2 Membership application

%p
  = "Hello! We're glad you're interested in becoming a member of Double Union. We love reading applications and look forward to meeting you if we haven't already."
  = "If you have any questions about the application or application process, please email our membership coordinators at "
  #{ mail_to JOIN_EMAIL }.

%p
  = "You can save this application at any time before you submit it. Once you submit your application, it will be visible to all current Double Union members while it is open, then hidden once it is accepted or rejected. No part of your application will ever be public."

%p
  = "If this application looks blanker than you left it, double check that you logged in with the same service as before by logging out and trying the other one (GitHub or Google)."


- if Configurable[:application_deadline_warning].present?
  .alert.alert-info
    = Configurable[:application_deadline_warning]

= form_for @user, url: application_path(@user.application) do |f|

  %fieldset
    - if @user.application.submitted?
      = f.submit "Update application", name: 'save', class: "btn"
    - else
      = f.submit "Save without submitting", name: 'save', class: "btn"

  %table.table

    %tr
      %td
        = f.label :name, "Full name"
        %small #{"(required)"}
      %td= f.text_field :name, required: true

    %tr
      %td
        = f.label :email, "Contact email"
        %small #{"(required)"}

        %p.small
          = "We will use this email to contact you about your application."
      %td= f.text_field :email, required: true

    %tr
      %td
        = f.label :email_for_google, "Google account email"
        %small #{"(optional)"}

        %p.small
          = "We use Google Calendar, Drive and Groups for internal coordination for members. We will use this email to add you to those resources if you get accepted as a member."
      %td= f.text_field :email_for_google

    = f.fields_for :profile do |profile_fields|
      = profile_fields.hidden_field :id

      %tr
        %td
          = profile_fields.label :pronouns, ("pronouns").capitalize
          %small #{"(optional)"}

          %p.small
            = ("What ")
            #{ link_to "pronouns", PRONOUNS_GUIDE_URL, target: "_blank" }
            = " should people use for you at Double Union, such as at events? (This doesn't affect your application, we just want to know how to refer to you respectfully.)"

        %td= profile_fields.text_field :pronouns

      %tr
        %td
          = profile_fields.label :reasons, "Why are you interested in joining Double Union?"
          %p.small
            = "We ask this because we'd like to learn about how your interests relate to DU. For example, what would you like to work on here, or what would you like to learn or share here? What about DU’s community appeals to you?"
          %p.small
            = "Required — 2000 character maximum."
        %td= profile_fields.text_area :reasons, rows: 15

      %tr
        %td
          = profile_fields.label :feminism, "Tell us about your feminism?"
          %p.small
            = "DU works toward being a feminist space, and it’s important to us that new members care about this too."
          %p.small
            = "To help us understand your view, we'd like to hear your thoughts or experiences around your own feminism. It's ok if you don't have a formal or academic way of talking about this! You can also answer with stories or memories. You can pick one of these questions or make up your own:"
          %ul
            %li.small
              = "How do you define your feminism?"
            %li.small
              = "How does feminism inform your perspective on the world?"
            %li.small
              = "What has feminism meant to you in your life?"
            %li.small
              = "What have justice or equality meant for you in your life?"
            %li.small
              = "How does your feminism include transgender people and nonbinary people?"
            %li.small
              = "If you’re white, how do you incorporate race into your feminism?"
            %li.small
              = "How do you incorporate class into your feminism?"
            %li.small
              = "Have you had frustrations with people who call themselves feminists but continue to be oppressive or harmful, and how does that inform your perspective on feminism?"
          %p.small
            = "Part of being a feminist space is not expecting everyone to know everything all the time. None of us are perfect! We do expect everyone to treat people at DU with respect."
          %p.small
            = "Required — 2000 character maximum."
        %td= profile_fields.text_area :feminism, rows: 15

      %tr
        %td
          = profile_fields.label :attendance, "Have you been to DU events or met DU members?"
          %p.small
            = "This is not needed to send in an application, but it helps us remember if we’ve met you! Please include people’s names if you can (it’s completely ok if you can’t). Or let us know if you're planning to attend an upcoming event, so we can say hi to you."
          %p.small
            = "Required — 2000 character maximum."
        %td= profile_fields.text_area :attendance, rows: 10

      %tr
        %td{ colspan: 2 }
          %table
            %tr
              %td
                %p.bold= "Social media or website links"
                %p.small= "Completely optional and only for us to get to know you better. Feel free to share all, some, or none of these links."
            %tr
              %td
                = profile_fields.label :twitter, "Twitter username"
                %small #{"(optional)"}
              %td
                = profile_fields.text_field :twitter
            %tr
              %td
                = profile_fields.label :facebook, "Facebook URL"
                %small #{"(optional)"}
              %td
                = profile_fields.text_field :facebook
            %tr
              %td
                = profile_fields.label :website, "Website URL"
                %small #{"(optional)"}
              %td
                = profile_fields.text_field :website
            %tr
              %td
                = profile_fields.label :linkedin, "LinkedIn URL"
                %small #{"(optional)"}
              %td
                = profile_fields.text_field :linkedin

      %tr
        %td{ colspan: 2 }
          %table
            = f.fields_for :application do |app_fields|
              = app_fields.hidden_field :id

              %tr
                %td.pt-10= app_fields.check_box :agreement_terms
                %td.pt-10.pl-10= app_fields.label :agreement_terms, "#{"I have read the"} #{link_to "base assumptions", BASE_ASSUMPTIONS_URL, target: "_blank"} #{"for Double Union and the list of"} #{link_to "benefits and responsibilities", MEMBERSHIP_BENEFITS_RESPONSIBILITIES_URL, target: "_blank"} #{"that come with Double Union membership."} ".html_safe, class: 'checkbox-label'

              %tr
                %td.pt-10= app_fields.check_box :agreement_policies
                %td.pt-10.pl-10= app_fields.label :agreement_policies, "#{"I agree to all posted"} #{link_to "Double Union policies", POLICIES_URL, target: "_blank"}.".html_safe, class: 'checkbox-label'

              %tr
                %td.pt-10= app_fields.check_box :agreement_female
                %td.pt-10.pl-10= app_fields.label :agreement_female, "#{"To keep the focus on a great space for nonbinary people and women (trans, cis, intersex, queer, straight, and not-fitting-into-those-labels), DU offers membership to women and nonbinary people. This fits with my self-identification."}", class: 'checkbox-label'

  - if @user.application.submitted?
    = f.submit "Update application", name: 'save', class: "btn"
  - else
    = f.submit "Save without submitting", name: 'save', class: "btn"

  - if @user.application.submitted?
    %p
      = "Application submitted"
      #{time_ago_in_words(@user.application.submitted_at)}
      = " ago"
    %p= link_to 'View application', application_path(@user.application)
  - else
    %h3
      = "Submit"
    %p
      = "When you're done with your application, submit it with the button below. You will be able to edit it any time before the membership drive closes."

    %fieldset
      = f.submit "Submit application", name: 'submit', class: "btn btn-primary"
