%p
  Hi #{@user.name}!

%p
  We are so excited for you to be a member of Double Union that we keep sending you even more emails.

%p
  Before your membership is a real thing, we need you to set up your dues and and tell us a Google-friendly email address we should use for your access. As soon as possible, log into #{ link_to "the site", EXTERNAL_SITE_URL } ("Log in" is at top right) and confirm your membership #{ link_to "on this page", members_user_setup_url(@user.id) }.

%p
  If you have any questions, email the membership coordinators at #{ mail_to MEMBERSHIP_EMAIL }! If you're no longer interested in being a member, just email us and we'll stop bugging you <3
  
%p (If you've already submitted a request for a dues scholarship and filled out your Google-friendly email address, you can ignore this email - it'll resolve itself when your request is processed.)

%p
  If we don't hear from you within a month of when you were accepted, we'll assume that you're no longer interested in joining.

%p
  All the best,
  %br/
  Double Union
  %br/
  @doubleunionsf
  %br/
  = link_to "www.doubleunion.org", EXTERNAL_SITE_URL
