%h1 New DU Members
.instructions
  %ul
    %li Add all new members directly to the #{ link_to "members mailing list", "http://lists.doubleunion.org/admin.cgi/members-doubleunion.org/members/add"}.
    %li Then, if they've set up dues, give the member access to the DU Members Google #{ link_to "drive folder", "https://drive.google.com/#folders/0B6a_aDP-2fOVV2FQLW5FVTZ2Mjg", target: "_blank" } & #{ link_to "calendar", "https://www.google.com/calendar/render", target: "_blank" } and to the #{ link_to "DU Members Slack", "https://doubleunion.slack.com/admin", target: "_blank" }.
    %li Clicking the Setup Finished button will sent the member an email letting them know they have access to the Google docs & calendar now.

  %p Don't forget to save each note individually so you don't lose your work.

= render partial: 'new_member', collection: @new_members
