%h1 New DU Members
.instructions
  %ul
    %li First, make sure the the member's dues have appeared in the #{link_to "DU PayPal account", "http://paypal.com/", target: "_blank"}
    %li Figure out if they are on the #{ link_to "members mailing list", "http://lists.doubleunion.org/roster.cgi/members-doubleunion.org"}, and if not, email them and make sure they're on the list before making their setup as complete.
    %li Then, give the member access to the DU Members Google #{ link_to "drive folder", "https://drive.google.com/#folders/0B6a_aDP-2fOVV2FQLW5FVTZ2Mjg", target: "_blank" } & #{ link_to "calendar", "https://www.google.com/calendar/render", target: "_blank" }

    %li Follow up with people!

%table.table
  %tr
    %th Name
    %th Email
    %th Date Approved
    %th Email for Google
    %th Dues Pledge
    %th Button
  - @new_members.each do |member|
    %tr
      %td= link_to member.name, members_user_path(member)
      %td= member.email
      %td= member.application.processed_at.strftime("%b %-d")
      %td= member.email_for_google
      %td= member.dues_pledge
      %td
        = button_to "Setup Finished", action: "setup_complete", id: member.id
