%h2 Settings

= form_for @user do |f|
  %fieldset
    %legend= f.label :name
    = f.text_field :name
  %fieldset
    %legend= f.label :email, 'Email*'
    = f.text_field :email
    %small * used for #{link_to 'Gravatar', 'http://gravatar.com'} image

  %fieldset
    = f.submit 'Save settings'
