%h1 Become a key member!

%p
  Keymembers receive a door code that enables you to access Double Union whenever you want to (24/7). Learn more in the
  #{ link_to "Members Handbook section on key membership", "https://docs.google.com/document/d/1yYXAj8rzQMiYt2xFdzm2xEOe0LCHohWNrMWzad-4mtQ/edit#heading=h.lsg2zdao236h", target: "_blank" }, which includes how to access key membership training.
%p
  Only submit this form if you have received key membership training for our space at 77 Falmouth St: in a virtual meeting, in person, watching the key membership training video (captioned), or reading the slide deck with speaker notes. You can also email the Membership Coordinator at membership@doubleunion.org to ask questions or schedule an orientation.

= form_tag members_user_key_members_path(current_user.id), method: "patch" do
  %p
    = check_box_tag "agreements[attended_events]", 1, false, required: true
    = label_tag "agreements[attended_events]", "I have received key member orientation for our 77 Falmouth space."

  %p
    = check_box_tag "agreements[kick_out]", 1, false, required: true
    = label_tag "agreements[kick_out]", "If I notice somebody causing issues for others in our space in some way, especially in a way covered in our #{ link_to "code of conduct", POLICIES_URL} or #{ link_to "COVID-19 risk mitigation policy", "https://docs.google.com/document/d/1Y8XEMxkTDqSNvtPbq6YSS4B1S3kE-K9dJOf3Jv0aLwI/edit#heading=h.ndiq3zp5lt8f", target: "_blank" }, I will try to remind them of the policy, ask them to stop or leave, send a note to the Code of Conduct Committee, or otherwise take action to the degree that I can.".html_safe

  %p
    = check_box_tag "agreements[lock_up]", 1, false, required: true
    = label_tag "agreements[lock_up]", "I will ensure the door is locked when I am the last person to leave, and I will take any other closing actions needed at the time for keeping the space secure, clean, and energy-efficient (such as rolling down curtains, taking out trash, turning out lights, turning off heating system, etc)."

  %p
    = check_box_tag "agreements[take_action]", 1, false, required: true
    = label_tag "agreements[take_action]", "If I saw something unsafe happening at DU, I would try to take action to help (say something, call 911, etc.)."

  = submit_tag "Submit"
