%h2 Membership

%h3 Join us!

%p
  We are looking for new members! Keep reading to learn more about becoming a member and joining our awesome feminist community workshop.

%p
  The main reason to become a member is to be able to visit the space without a host. Non-members are welcome in the space if they are accompanied by a key member, to come to an open house night, to take a class, or to attend an open event.

%h3 Membership qualifications

%p
  To keep the focus on a great space for women, all members must be significantly female-identified and old enough to carry out any responsibilities. Guests of members may be any gender or age. We specifically encourage bringing (supervised) children to the space. New members join through a nomination and voting process (see below).

%h3 Membership benefits and responsibilities

%h4 Regular members

%p This is the membership type you want if you would just like to work on your projects and not have to run the space.

%ul
  %li Enter the space (whenever a key member is there)
  %li Store your projects in the space (within reason)
  %li Pay monthly membership dues (what you can afford – generally between $10 and $100/month)

%h4 Key members

%p Key members literally have keys to the space, but are also key to Double Union.

%p If you are a key member, you can:

%ul
  %li Get into the space any time (a key!)
  %li Bring guests to the space
  %li Shape the space’s direction and future

%p Key members also have responsibilities:

%ul
  %li Contribute to the upkeep of the space
  %li Volunteer for various tasks (e.g., yarn coordinator!)
  %li Help uphold the rules of the space
  %li Nominate and vote on new members
  %li Come to weekly meetings

%h3 Apply

%p
  New members join through a nomination and voting process. To apply for Double
  Union membership, start by authenticating with Github. If you don't have a
  Github account, you will be able to create one for free.

%p= link_to 'Sign in with Github', "/auth/github?return_to=#{new_application_path}", :class => 'btn btn-primary btn-lg'

%h3 Current members

.current-members
  - @users.in_groups_of(2, false).each do |group|
    .current-members-row
      - group.each do |user|
        .current-member
          .member-image
            - if user.email
              = image_tag user.gravatar_url(50), :alt => user.name, :title => user.name, :class => 'icon-50'
          .member-info
            %span.member-name
              - if user.profile.website
                = link_to user.name, user.profile.website
              - else
                = user.name
            %span.member-status= user.display_state
