%h2 Membership

- if Configurable[:accepting_applications]
  %h3 Join us!

  %p
    We are looking for new members! Keep reading to learn more about becoming a member and joining our awesome feminist community workshop.

  %p
    The main reason to become a member is to be able to visit the space without a host. Non-members are welcome in the space if they are accompanied by a key member, to come to an open house night, to take a class, or to attend an open event.
- else
  %p We aren't currently accepting applications. Join our #{ link_to "general interest mailing list", "http://lists.doubleunion.org/listinfo.cgi/doubleunion-doubleunion.org"} to be notified when applications are open again!


%h3 Membership qualifications

%p
  To keep the focus on a great space for women (particularly queer and trans women!), all members must identify as women in a way that's significant to them, and be old enough to carry out any responsibilities Guests of members may be any gender or age. We specifically encourage bringing (supervised) children to the space. New members join through an application and voting process (see below).

%p
  We welcome members with a broad variety of interests, skills, identities, backgrounds, and histories. What we have in common is a #{ link_to "set of values (base assumptions)", "https://www.doubleunion.org/base_assumptions"} and an interest in supporting each other and Double Union. If you're very interested in being part of Double Union but aren't sure whether you're a good fit, please apply. (Don't let #{ link_to "impostor syndrome", "http://geekfeminism.wikia.com/wiki/Impostor_syndrome"} stop you!)

%p
  To get a sense of what current members work on in the space, see our #{ link_to "blog", "http://doubleunion.tumblr.com/"}, #{ link_to "Twitter", "https://twitter.com/doubleunionsf"}, and #{ link_to "wiki", "http://wiki.doubleunion.org/index.php?title=Main_Page"} to find out about events/projects and equipment, or come to some events! Our committees so far include bicycles, electronics, jobs, open source software, printmaking and textiles, public speaking, 3D printing/CNC machining, and several committees related to running Double Union together (developing its web application, networking/IT for the space, designing its physical space and constructing modifications, finance/administration, membership coordination, maintaining the book library, etc.).

%h3 Membership benefits and responsibilities

%p
  Double Union is a great place to work on projects during the week, but not a good option for full-time coworking. Members are encouraged to use the space, but not for conference calls or team meetings.

%h4 Regular members

%p This is the membership type you want if you would just like to work on your projects and not have to run the space.

%ul
  %li After attending at least two events (including at least one members meeting), you'll get a key code that lets you use the space whenever the building is open (generally 7am-6pm, Monday-Friday)
  %li You'll also be able to use the space in evenings and weekends when a key member is present
  %li Store your projects in the space (within reason)
  %li Pay monthly membership dues (what you can afford – generally between $10 and $50/month)

%h4 Key members

%p Key members literally have keys to the space, but are also key to Double Union.

%p If you are a key member, you can:

%ul
  %li Get into the space any time (a set of keys!)
  %li Bring guests to the space

%p Key members also have responsibilities:

%ul
  %li Contribute to the upkeep of the space
  %li Volunteer for various tasks (e.g., yarn coordinator!)
  %li Help uphold the rules of the space
  %li Come to meetings
  %li Help shape the space’s direction and future

%h4 Voting members

%p Voting members (who are usually also key members) choose to take on the additional responsibility of reviewing and voting on membership applications.

- if Configurable[:accepting_applications]
  %h3 Apply

  %p
    New members join through an application and voting process. To apply for Double
    Union membership, start by authenticating with GitHub or Google.

  %b
    Before you apply, though, please read through our #{ link_to "Base Assumptions", base_assumptions_path }. They are very important to us and we want all members to be comfortable with them.

  %p= link_to 'Sign in with GitHub', github_login_path, :class => 'btn btn-primary btn-lg'
  %p= link_to 'Sign in with Google', google_login_path, :class => 'btn btn-primary btn-lg'

%h3 Current members
%p There are #{@total_members} current members, including:
.current-members
  - @users.in_groups_of(2, false).each do |group|
    .current-members-row
      - group.each do |user|
        .current-member
          .member-image
            - if user.email
              = image_tag user.gravatar_url(50), :alt => user.name, :title => user.name, :class => 'icon-50'
          .member-info
            %span.member-name
              - if user.profile.website
                = link_to user.name, user.profile.website
              - else
                = user.name
            %span.member-status= user.display_state
