%h2 Membership

- unless Configurable[:accepting_applications]
  .alert.alert-info
    We aren't currently accepting applications. Join our #{ link_to "general interest mailing list", "http://lists.doubleunion.org/listinfo.cgi/doubleunion-doubleunion.org", class: "alert-link"} to be notified when applications are open again!

%p
  New members join through an application and voting process. If you're very interested in being part of Double Union but aren't sure whether you're “good enough,” please apply. Don't let #{ link_to "impostor syndrome", "http://geekfeminism.wikia.com/wiki/Impostor_syndrome" } stop you!

%p
  Along with submitting an application, a qualification for membership is that you've met at least one member who is willing to say you seem like a reasonable potential member (such as that you'd respect the #{ link_to "base assumptions", base_assumptions_path }, #{ link_to "anti-harassment policy", policies_path }, and responsibilities of being a member). Please come to events to meet some of us! Or if you'd prefer a quieter opportunity to meet just a couple members over a cup of tea, email #{ mail_to "join@doubleunion.org" } and we'll set this up.


%h3 Membership qualifications

%p
  Double Union welcomes members with a broad variety of interests, skills, identities, backgrounds, and histories. What we have in common is a #{ link_to "set of values (base assumptions) ", base_assumptions_path }  and an interest in supporting each other and Double Union.

%p
  To keep the focus on a great space for women (trans, cis, queer, straight, and not-fitting-into-those-labels/other), all members must identify as women in a way that's significant to them. Members must also be old enough to carry out any responsibilities. Guests of members may be any gender or age. We specifically encourage bringing (supervised) children to the space.

%h3 How do members use the space?

%p
  To get a sense of what current members work on in the space, see our #{ link_to "blog", "http://doubleunion.tumblr.com/"}, #{ link_to "Twitter", "https://twitter.com/doubleunionsf"}, and #{ link_to "wiki", "http://wiki.doubleunion.org/index.php?title=Main_Page"} to find out about events/projects and equipment, or come to some events!  People work on many things in the space, including adding lights to bicycles, electronics, circuits/soft-circuits, finding jobs, contributing to open source software, zine making, printmaking and textiles, public speaking, 3D printing, CNC machining, fiber arts, sewing/serging, and reading in the library.

%p
  Note that while Double Union is a great place to work on projects during the week, it’s not a good option for full-time coworking, taking conference calls or having team meetings. We have a very active members-only mailing list where events, workshops, and meetings are thought up and scheduled, as well as a members-only calendar. Any member can propose an event or workshop!

%h3 Membership benefits and responsibilities

%h4 Regular members

%p This is the membership type you want if you would just like to work on your projects and not have to run the space.

%ul
  %li After attending at least two events (including at least one members meeting), you'll get a key code that lets you use the space whenever the building is open (generally 7am-6pm, Monday-Friday)
  %li You'll also be able to use the space in evenings and weekends when a key member is present
  %li Store your projects in the space (within reason)
  %li Pay monthly membership dues (what you can afford – generally between $10 and $50/month)

%h4 Key members

%p Key members literally have keys to the space, but are also key to Double Union. If you would like to become a key member, talk to other key members about what it’s like and how to become one!

%p If you are a key member, you can:

%ul
  %li Get into the space any time (a set of keys!)
  %li Bring guests to the space

%p Key members also have responsibilities:

%ul
  %li Contribute to the upkeep of the space
  %li Volunteer for various tasks (e.g., library coordinator!)
  %li Help uphold the rules of the space
  %li Come to meetings
  %li Help shape the space’s direction and future

%h4 Voting members

%p Voting members (who are usually also key members) choose to take on the additional responsibility of reviewing and voting on membership applications and adding new key members.

%h3 Decisionmaking at Double Union

%p
  We have a very active members-only mailing list where we propose and discuss things, and have members meetings about twice a month. This usually results in decisions without a formal process being necessary. Groups of 2+ members interested in a topic form committees, which generally have pre-approved budgets, to run events or be in charge of some aspect of the space's operation.

%p
  Our committees so far include bicycles, electronics, jobs, open source software, zine making, printmaking and textiles, public speaking, 3D printing/CNC machining. We also have several committees related to running Double Union together, such as developing our web application, networking/IT for the space, designing its physical space and constructing modifications, finance/administration, membership coordination, and maintaining the book library.

%p
  If something is hard to decide, controversial, or otherwise needs a final decision, our small board makes the decision. We don't want to get stuck in endless discussions; having a board avoids that problem. The board also does the legal and financial decision making involved in being a non-profit.

- if Configurable[:accepting_applications]
  %h3 Apply

  %p
    New members join through an application and voting process. To apply for Double
    Union membership, start by authenticating with GitHub or Google.

  %b
    Before you apply, though, please read through our #{ link_to "Base Assumptions", base_assumptions_path }. They are very important to us and we want all members to be comfortable with them.

  %p= link_to 'Sign in with GitHub', github_login_path, :class => 'btn btn-primary btn-lg'
  %p= link_to 'Sign in with Google', google_login_path, :class => 'btn btn-primary btn-lg'

%h3 Current members
%p There are #{@total_members} current members, including:
.current-members
  - @users.in_groups_of(2, false).each do |group|
    .current-members-row
      - group.each do |user|
        .current-member
          .member-image
            - if user.email
              = image_tag user.gravatar_url(50), :alt => user.name, :title => user.name, :class => 'icon-50'
          .member-info
            %span.member-name
              - if user.profile.website
                = link_to user.name, user.profile.website
              - else
                = user.name
            %span.member-status= user.display_state
