%table{style: "width: 700px;"}
  %tr
    %td
      %p Hi #{@user.name}!

      %p We'd like to offer you membership to Double Union! YAY!

      %p In order to confirm your membership, log into #{ link_to "the site", EXTERNAL_SITE_URL } ("Log in" is at top right) and complete the setup #{ link_to "on this page", members_user_setup_url(@user.id) }. This is where you'll give us your Google-friendly email address for our calendar and mailing list, and set up dues (or apply for a scholarship). (After you’ve done this, a membership coordinator will subscribe you to the mailing list and invite you to Slack. Feel free to start a thread introducing yourself and jump into conversations right away!)

      %p Please also sign up for a #{ link_to "New Member Orientation", Configurable[:orientation_signup] } so we can get you set up with your own access to the space!

      %p If you want to be listed publicly as a member (at the bottom of #{ link_to "this page", MEMBERSHIP_URL }), #{ link_to "log in", login_url } to the app and go to "Edit profile" in the right dropdown menu. There's a checkbox there marked "Show name/website/gravatar on public site?"

      %p After you fill out #{ link_to "the membership confirmation and setup form", members_user_setup_url(@user.id) }, here are some things the membership coordinators will do for you:

      %ul
        %li Give you access to the Double Union Mailing List
        %li Give you access to the Double Union Google Drive folder and Google Calendar
        %li Give you access to the Double Union Slack chat
        %li Tell you when the new member orientation meetings will be

      %p If you have any questions, email the membership coordinator at #{ mail_to MEMBERSHIP_EMAIL }.

      %p
        All the best,
        %br/
        Double Union
        %br/
        @doubleunionsf
        %br/
        = link_to "www.doubleunion.org", EXTERNAL_SITE_URL

      %p PS: Go do #{ link_to "all the things", members_user_setup_url(@user.id) } to get your membership finalized!

