%HTML
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p Hi, #{@user.name}!
    %p Thanks for applying to Double Union!
    %p What happens now?
    %p
      We'd love to meet you. Please check our #{ link_to "Tumblr", "http://doubleunion.tumblr.com/" } and our
      #{ link_to "Twitter", "https://twitter.com/doubleunionsf" } to find open events.
    %p
      Along with submitting an application, a qualification for membership is that you've met at least one member who is willing to say you seem like a reasonable potential member (such as that you'd respect the #{ link_to "base assumptions", base_assumptions_url }, #{ link_to "anti-harassment policy", policies_url }, and responsibilities of being a member). Please come to events to meet some of us! Or if you'd prefer a quieter opportunity to meet just a couple members over a cup of tea, email #{ mail_to "join@doubleunion.org" } and we'll set this up.
    %p
      If you have any questions, feel free to email the membership coordinators at #{ mail_to t('du.join_email')}.

    %p
      All the best,
      %br/
      Double Union
      %br/
      @doubleunionsf
      %br/
      = link_to "www.doubleunion.org", "http://www.doubleunion.org"
