%HTML
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      Hi, #{@user.name}!
    %p
      Thanks for getting all of your Double Union membership things set up. You now have access to the
      #{ link_to "members Google Drive folder", "https://drive.google.com/#folders/0B6a_aDP-2fOVV2FQLW5FVTZ2Mjg" } and a Google calendar called "DU Members". You should read through the
      #{ link_to "Member Handbook", "https://docs.google.com/document/d/1yYXAj8rzQMiYt2xFdzm2xEOe0LCHohWNrMWzad-4mtQ/edit" } now to get a quick overview of how things work at DU.  You also now have access to the { link_to "DU chat system (Slack)", "https://doubleunion.slack.com/" }.
    %p
      If you have any questions, feel free to email the membership coordinator at #{ mail_to MEMBERSHIP_EMAIL }.
    %p
      See you at at member's meeting soon!

    %p
      All the best,
      %br/
      Double Union
      %br/
      @doubleunionsf
      %br/
      = link_to "www.doubleunion.org", EXTERNAL_SITE_URL
