%HTML
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      Hi #{@user.name},
    %p
      Your application has been open for two weeks and doesn't yet have a sponsor.
    %p
      Along with submitting an application, a qualification for membership is that you've met at least one member who is willing to say you seem like a reasonable potential member (such as that you'd respect the #{ link_to "base assumptions", base_assumptions_url }, #{ link_to "anti-harassment policy", policies_url }, and responsibilities of being a member). Please come to events to meet some of us! Or if you'd prefer a quieter opportunity to meet just a couple members over a cup of tea, email #{ mail_to JOIN_EMAIL } and we'll set this up.
    %p
      Feel free to email #{ mail_to JOIN_EMAIL } if you have any questions.
    %p
      All the best,
      %br/
      Double Union
      %br/
      @doubleunionsf
      %br/
      = link_to "www.doubleunion.org", "http://www.doubleunion.org"
