%p Great news! #{@user.name} (cc'd) is now a key member.

%p
  #{@user.name}, you can find
  #{ link_to "instructions for how and where to pick up your keys here", KEY_PICKUP_DOC }, and
  #{ link_to "lock-up procedures here", LOCK_UP_DOC }.

%p Membership coordinators, can you please add #{@user.name} to the key member mailing list and Google docs?

%p
  Wooooooo,
  %br/
  Double Union
  %br/
  @doubleunionsf
  %br/
  = link_to "www.doubleunion.org", EXTERNAL_SITE_URL
