= content_for :js do
  = javascript_include_tag :dues

%h2 Manage Your Double Union Dues

%h4 Members Using Paypal: Cancel your recurring PayPal payment
%ol
  %li= link_to "Sign into PayPal", "https://www.paypal.com/login", target: "_blank"
  %li Visit #{ link_to "My preapproved payments", "https://www.paypal.com/us/cgi-bin/webscr?cmd=_manage-paylist", target: "_blank" } (or navigate via My Account → Profile → My Money → My preapproved payments)
  %li
    Pick the Double Union membership dues item (#{ link_to "screenshot", "#", data: { target: "#recurringPaymentModal", toggle: "modal" } }), and cancel it (#{ link_to "screenshot", "#", data: { target: "#cancelPaymentModal", toggle: "modal" } }).

%h4 Update Stripe Subscription
%p Membership dues payments are handled via Stripe, which will charge your credit or debit card on the same date each month. If you need to change your dues payment, just fill in the form again and it will be updated.
= render 'dues_form', action: "Update"

#recurringPaymentModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "recurringPaymentModal", role: "dialog", tabindex: "-1"}
  .modal-dialog.wide-modal
    .modal-content
      .modal-body
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        = image_tag "paypal_recurring.png", alt: "screenshot of PayPal page", class: "screenshot"

#cancelPaymentModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "cancelPaymentModal", role: "dialog", tabindex: "-1"}
  .modal-dialog.wide-modal
    .modal-content
      .modal-body
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        = image_tag "paypal_cancel.png", alt: "screenshot of PayPal page", class: "screenshot"
