%h2 Edit profile

= render "authentication"

%p
  Profile fields are only visible to members by default and are totally
  optional.

= form_for @user, url: members_user_path(@user) do |user_f|

  = user_f.fields_for :profile do |fields|
    = fields.hidden_field :id

    %fieldset
      = user_f.submit 'Save profile'

    %fieldset
      = fields.check_box :show_name_on_site
      = fields.label :show_name_on_site,
        "Show name, website, and #{link_to 'Gravatar', "https://en.gravatar.com/support/what-is-gravatar/" } (if you've set up a Gravatar) on #{link_to 'DU public website', EXTERNAL_SITE_URL + "/membership#current-members"}?".html_safe,
        class: 'checkbox-label'

    %fieldset
      %legend= user_f.label :name
      = user_f.text_field :name

    %fieldset
      %legend= user_f.label :pronounceable_name, 'How to pronounce your name (used by automated voice for door entry system)'
      = user_f.text_field :pronounceable_name

    %fieldset
      %legend= fields.label :pronouns, 'Pronouns'
      = fields.text_field :pronouns

    %fieldset
      %legend= user_f.label :email, 'Email displayed on member profile'
      = user_f.text_field :email

    %strong Google-friendly email
    %div #{@user.email_for_google}
    %p If you need to also change the "Google-friendly" email address that DU uses for your Google Drive, Google Calendar, and Google Groups access (for example, if you've lost access to that Google account or are switching to using a new Google account), please email the Membership Coordinators (#{ mail_to MEMBERSHIP_EMAIL }). They will need to manually update your account in those systems.

    %fieldset
      %legend= fields.label :twitter, 'Twitter username'
      = fields.text_field :twitter

    %fieldset
      %legend= fields.label :facebook, 'Facebook URL'
      = fields.text_field :facebook

    %fieldset
      %legend= fields.label :website, 'Website URL'
      = fields.text_field :website

    %fieldset
      %legend= fields.label :linkedin, 'LinkedIn URL'
      = fields.text_field :linkedin

    %fieldset
      %legend= fields.label :blog, 'Blog URL'
      = fields.text_field :blog

    %fieldset
      %legend= fields.label :summary, "Tell us a little about yourself!"
      = fields.text_area :summary, rows: 6

    %fieldset
      %legend= fields.label :reasons, 'Why are you interested in joining Double Union?'
      = fields.text_area :reasons, rows: 6
      %br
      = fields.check_box :show_reasons
      = fields.label :show_reasons, "Check this if you want it to show up on your profile.", class: "checkbox-label"

    %fieldset
      %legend= fields.label :projects, 'What would you like to work on in the space?'
      = fields.text_area :projects, rows: 6

    %fieldset
      %legend= fields.label :skills, 'What skills are you most interested in learning, improving, and/or teaching?'
      = fields.text_area :skills, rows: 6

    %fieldset
      %legend= fields.label :gravatar_email, 'Gravatar email*'
      = fields.text_field :gravatar_email
      %small * override email for #{link_to 'Gravatar', 'http://gravatar.com'}

  %fieldset
    = user_f.submit 'Save profile'
