%h2 Edit profile

= render "authentication"

%p
  Profile fields are only visible to members by default and are totally
  optional.

= form_for @user, url: members_user_path(@user) do |user_f|

  = user_f.fields_for :profile do |fields|
    = fields.hidden_field :id

    %fieldset
      = user_f.submit 'Save profile'

    %fieldset
      = fields.check_box :show_name_on_site
      = fields.label :show_name_on_site,
        "Show name/website/gravatar on #{link_to 'public site', EXTERNAL_SITE_URL + "/membership"}?".html_safe,
        class: 'checkbox-label'

    %fieldset
      %legend= user_f.label :name
      = user_f.text_field :name

    %fieldset
      %legend= user_f.label :pronounceable_name
      = user_f.text_field :pronounceable_name

    %fieldset
      %legend= fields.label :pronouns, 'Pronouns'
      = fields.text_field :pronouns

    %fieldset
      %legend= user_f.label :email, 'Email'
      = user_f.text_field :email

    %fieldset
      %legend= fields.label :twitter, 'Twitter username'
      = fields.text_field :twitter

    %fieldset
      %legend= fields.label :facebook, 'Facebook url'
      = fields.text_field :facebook

    %fieldset
      %legend= fields.label :website, 'Website url'
      = fields.text_field :website

    %fieldset
      %legend= fields.label :linkedin, 'LinkedIn url'
      = fields.text_field :linkedin

    %fieldset
      %legend= fields.label :blog, 'Blog url'
      = fields.text_field :blog

    %fieldset
      %legend= fields.label :summary, "Tell us a little about yourself!"
      = fields.text_area :summary, rows: 6

    %fieldset
      %legend= fields.label :reasons, 'Why are you interested in joining Double Union?'
      = fields.text_area :reasons, rows: 6

    %fieldset
      %legend= fields.label :projects, 'What would you like to work on in the space?'
      = fields.text_area :projects, rows: 6

    %fieldset
      %legend= fields.label :skills, 'What skills are you most interested in learning, improving, and/or teaching?'
      = fields.text_area :skills, rows: 6

    %fieldset
      %legend= fields.label :gravatar_email, 'Gravatar email*'
      = fields.text_field :gravatar_email
      %small * override email for #{link_to 'Gravatar', 'http://gravatar.com'}

  %fieldset
    = user_f.submit 'Save profile'
