- if current_user.member? || current_user.key_member?
  .mt-20
    - if current_user.member?
      = link_to "Become a key member", edit_members_user_key_members_path(current_user), class: "btn btn-default"

    - unless current_user.voting_policy_agreement
      = link_to "Become a voting member", edit_members_user_voting_members_path(current_user), class: "btn btn-default"

= render 'bookmarks'

- if current_user.key_member?
  - if current_user.door_code
    %p Your door code is: #{current_user.door_code.code} #{current_user.door_code.enabled? ? "(enabled)" : "(disabled)"}
  - else
    %p
      You don't seem to have a door code set. Please contact
      =mail_to "membership@doubleunion.com"
      for help.

- if @all_admins.any?
  %h3 Admins
  %p This internal DU app is administered by DU Membership Coordinators (membership@doubleunion.org) and Board Members (board@doubleunion.org), and it many also have Web App committee members supporting it. Members with admin access: 
  = render partial: 'list', locals: { users: @all_admins }

- if @all_members.any?
  %h3 Members
  = render partial: 'list', locals: { users: @all_members }
