:javascript
  window.userId = #{current_user.id};
  window.accessControlUri = '#{ENV["ACCESS_CONTROL_URI"]}';
  window.accessControlUnlockSeconds = #{ENV["ACCESS_CONTROL_UNLOCK_SECONDS"]};

= content_for :js do
  = javascript_include_tag :door

- if current_user.member? || current_user.key_member?
  .mt-20
    - unless current_user.voting_policy_agreement
      = link_to "Become a voting member", edit_members_user_voting_members_path(current_user), class: "btn btn-default"

%h2 Space Access
%p Please reach out to Admins below via Email or Slack to get your own door passcode, thanks!

= render 'bookmarks'

- if @all_admins.any?
  %h3 Admins
  %p This internal DU app is administered by Membership Coordinators (#{ mail_to MEMBERSHIP_EMAIL }) and Board Members (#{ mail_to BOARD_EMAIL }). Members with admin access:
  = render partial: 'list', locals: { users: @all_admins }

- if @all_members.any?
  %h3 Members
  = render partial: 'list', locals: { users: @all_members }
