:javascript
  window.userId = #{current_user.id};
  window.accessControlUri = '#{ENV["ACCESS_CONTROL_URI"]}';
  window.accessControlUnlockSeconds = #{ENV["ACCESS_CONTROL_UNLOCK_SECONDS"]};

= content_for :js do
  = javascript_include_tag :door

- if current_user.member? || current_user.key_member?
  .mt-20
    - unless current_user.voting_policy_agreement
      = link_to "Become a voting member", edit_members_user_voting_members_path(current_user), class: "btn btn-default"

%h3 Space Access
- if current_user.space_access?
  %p Click the button below to unlock the door and access the space.
  %p The door will automatically re-lock after #{ENV["ACCESS_CONTROL_UNLOCK_SECONDS"]} seconds.
  #unlock-door.btn.btn-default.disabled Unlock Door
  #unlock-success.hidden.bold
    %p The door was unlocked!
  #unlock-error.hidden
    %p#error-text.text-danger.bold
  %p
    %i Note:
    You must be at the space and connected to the Wi-Fi to unlock the door. Also, if you use a VPN or iCloud Private Relay, you may need to turn that off on your device before clicking the button.
  %table
    %tr
      %td.bold.text-right
        ssid:&nbsp;
      %td= ENV["WIFI_NETWORK_NAME"]
    %tr
      %td.bold.text-right
        password:&nbsp;
      %td= ENV["WIFI_NETWORK_PASSWORD"]
- elsif current_user.member?
  = link_to "Become a key member", edit_members_user_key_members_path(current_user), class: "btn btn-default"

= render 'bookmarks'

- if @all_admins.any?
  %h3 Admins
  %p This internal DU app is administered by Membership Coordinators (#{ mail_to MEMBERSHIP_EMAIL }) and Board Members (#{ mail_to BOARD_EMAIL }). Members with admin access:
  = render partial: 'list', locals: { users: @all_admins }

- if @all_members.any?
  %h3 Members
  = render partial: 'list', locals: { users: @all_members }
