- if current_user.member? || current_user.key_member?
  .mt-20
    - unless current_user.voting_policy_agreement
      = link_to "Become a voting member", edit_members_user_voting_members_path(current_user), class: "btn btn-default"

= render 'bookmarks'

%h3 Space Access
- if current_user.member?
  = link_to "Become a key member", edit_members_user_key_members_path(current_user), class: "btn btn-default"
- if current_user.door_code.present?
  %p Your door code is #{current_user.door_code.code}*
- elsif current_user.key_member?
  %p
    You are a key member, but you don't seem to have a door code set. If you need one, contact
    =mail_to MEMBERSHIP_EMAIL
    for help.

- if @all_admins.any?
  %h3 Admins
  %p This internal DU app is administered by Membership Coordinators (#{ mail_to MEMBERSHIP_EMAIL }) and Board Members (#{ mail_to BOARD_EMAIL }). Members with admin access:
  = render partial: 'list', locals: { users: @all_admins }

- if @all_members.any?
  %h3 Members
  = render partial: 'list', locals: { users: @all_members }
