= content_for :js do
  = javascript_include_tag :dues

%h1 Double Union Account Setup

%h3 Please do ALL of these things:
%ol
  %li Tell us your Google email
  %li Set up your dues via Stripe
  %li Join the members mailing list

%h3 Step One: Email

%p
  We use Google docs and calendar to share information.
  Let us know what email address we should share those things with.

%p
  If you ever need to update your Google docs/calendar email address, please email
  #{mail_to t('du.membership_email')} and we'll get those updated, too.

.form
  = form_for @user, url: members_user_setup_path(@user) do |f|
    .form-group
      = f.label "Google-friendly email"
      = f.text_field :email_for_google, size: 40
    .form-group
      = f.submit "Submit", class: "btn btn-primary"

%h3 Step Two: Set Up Monthly Dues
%p Email <a href="mailto:membership@doubleunion.org">membership@doubleunion.org</a> if you have any questions or concerns about dues!
= render 'dues_form', action: "Set Up"

%h3 Step Three: Sign Up for the Mailing List

%p
  We'll get you approved quickly, and then you can introduce yourself! This is our main method of communication, so it's important you're on it. We highly recommend using filters/labels in your mail client to keep your inbox from being overwhelmed.

%h4=link_to "Click here to join the DU members mailing list!", "http://lists.doubleunion.org/listinfo.cgi/members-doubleunion.org", target: "_blank"

%p
  =button_to "Back to members home", members_root_path, class: "btn btn-default", method: "get"
