= content_for :js do
  = javascript_include_tag :dues

%h1 Double Union Account Setup

%h3 Step One: Email

%p
  We use Google Drive and Google Calendar to share information, and Google Groups for our mailing list.
  Let us know what email address we should share those things with (don't forget to click "Submit").

= form_for @user, url: members_user_setup_path(@user), html: { class: "form form-inline" } do |f|
  .form-group
    = f.label "Google-friendly email"
    = f.text_field :email_for_google, size: 40
    = f.submit "Submit", class: "btn btn-primary"

%p
  If you don't want to use the Google-friendly email address you entered above for the mailing list, or you later need to update your Drive/Calendar/mailing list email address, please let us know at #{ mail_to MEMBERSHIP_EMAIL } and we'll get you sorted!

%p
  We do email a fair amount, so if you're a Gmail user, consider #{ link_to "setting up a Double Union label and filter for these emails", "https://support.google.com/mail/answer/6579?hl=en", target: "_blank" }.


%h3 Step Two: Set Up Monthly Dues

%p
  Most DU members pay monthly dues, which supports the existence of the space.
  This is on a sliding scale from $10-$100 — you pay the amount that is right for you, and you can change it at any time (up or down) if your financial situation changes.

%p
  We gladly welcome and support members who can't afford to pay membership dues!
  Any member can request a scholarship due to financial need at any time.
  To apply for a scholarship, go to #{ link_to "Manage Membership", members_user_dues_path(@user) } and fill out the form.

%table{:width=>"100%"}
  %tr
    %th Income
    %th Suggested range (but it's up to you)
  %tr
    %td Below $50,000
    %td $0 - $10
  %tr
    %td $50,000-$100,000
    %td $15-$25
  %tr 
    %td $100,000-$150,000
    %td $75
  %tr 
    %td $150,000-$200,000
    %td $100
  %tr 
    %td $200,000+
    %td $100 + recurring donation in PayPal of your choice
    
= render 'members/dues/form', action: "Set Up"

%p Email #{ mail_to MEMBERSHIP_EMAIL } if you have any questions or concerns about dues.

= button_to "Back to members home", members_root_path, class: "btn btn-default", method: "get"
