= content_for :js do
  = javascript_include_tag :dues

%h1 Double Union Account Setup

%h3 Please do ALL of these things:
%ol
  %li Tell us your Google-friendly email address
  %li Set up your dues via Stripe
  %li Check out the members mailing list

%h3 Step One: Email

%p
  We use Google Drive and Google Calendar to share information.
  Let us know what email address we should share those things with (don't forget to click "Submit").

= form_for @user, url: members_user_setup_path(@user), html: { class: "form form-inline" } do |f|
  .form-group
    = f.label "Google-friendly email"
    = f.text_field :email_for_google, size: 40
    = f.submit "Submit", class: "btn btn-primary"

%p
  If you later need to update your Google Drive/Calendar email address, please email
  #{ mail_to MEMBERSHIP_EMAIL } and we'll get those updated.

%h3 Step Two: Set Up Monthly Dues

%p
  Most DU members pay monthly dues, which supports the existence of the space.
  This is on a sliding scale from $10-$100 — you pay the amount that is right for you, and you can change it at any time (up or down) if your financial situation changes. $25 is about average.

%p
  We also gladly welcome and support members who can't afford to pay membership dues!
  Any member can request a scholarship due to financial need at any time.
  To apply for a scholarship, go to the #{ link_to "manage dues page", members_user_dues_path(@user) } and fill out the form.

= render 'members/dues/form', action: "Set Up"

%p Email #{ mail_to MEMBERSHIP_EMAIL } if you have any questions or concerns about dues.

%h3 Step Three: Check Out the Mailing List

%p
  The membership coordinator has added you to the members mailing list! You should have received an email from members-request@lists.doubleunion.org with information about your subscription to the list. To get a sense of what we talk about on the mailing list, check out the #{ link_to "mailing list archives", "http://lists.doubleunion.org/private.cgi/members-doubleunion.org/" }. (You'll need the password from the confirmation email to log in — it's toward the bottom of the email.)

%p
  (We do email a fair amount, so if you're a Gmail user, consider #{ link_to "setting up a Double Union label and filter for these emails", "https://support.google.com/mail/answer/6579?hl=en", target: "_blank" }. When you make a filter for your DU mailing list emails, make sure to check the box for "Never send it to Spam".)

%p
  =button_to "Back to members home", members_root_path, class: "btn btn-default", method: "get"
