= content_for :js do
  = javascript_include_tag :dues

%h1 Double Union Account Setup

%h3 Please do ALL of these things:
%ol
  %li Tell us your Google email
  %li Set up your dues via Stripe
  %li Join the members mailing list

%h3 Step One: Email

%p
  We use Google docs and calendar to share information.
  Let us know what email address we should share those things with.

%p
  If you ever need to update your Google docs/calendar email address, please email
  #{mail_to t('du.membership_email')} and we'll get those updated, too.

.form
  = form_for @user, url: members_user_setup_path(@user) do |f|
    .form-group
      = f.label "Google-friendly email"
      = f.text_field :email_for_google, size: 40
    .form-group
      = f.submit "Submit", class: "btn btn-primary"

%h3 Step Two: Set Up Monthly Dues
%p Email <a href="mailto:membership@doubleunion.org">membership@doubleunion.org</a> if you have any questions or concerns about dues!
= render 'dues_form', action: "Set Up"

%h3 Step Three: Check Out the Mailing List

%p
  The membership coordinator has added you to the members mailing list! You should have received an email from members-request@lists.doubleunion.org with information about your subscription to the list. To get a sense of what we talk about on the mailing list, check out the #{ link_to "mailing list archives", "http://lists.doubleunion.org/private.cgi/members-doubleunion.org/" }. (You'll need the password from the confirmation email to log in — it's toward the bottom of the email.)

%p
  (We do email a fair amount, so if you don't know about filters and labels and are a gmail user, #{ link_to "have we got a link for you", "https://support.google.com/mail/answer/6579?hl=en", target: "_blank" }.)

%p
  =button_to "Back to members home", members_root_path, class: "btn btn-default", method: "get"
