- profile = @user.profile

%h2= @user.username
- if @user.name.present?
  %h3= @user.name

- if logged_in_as?(@user)
  %p= link_to 'Edit profile', edit_members_user_path(@user)

%table.table

  - if profile.twitter.present?
    %tr
      %td Twitter url
      %td= external_auto_link(profile.twitter_url)

  - if profile.facebook.present?
    %tr
      %td Facebook url
      %td= external_auto_link(profile.facebook)

  - if profile.website.present?
    %tr
      %td Website url
      %td= external_auto_link(profile.website)

  - if profile.linkedin.present?
    %tr
      %td LinkedIn url
      %td= external_auto_link(profile.linkedin)

  - if profile.blog.present?
    %tr
      %td Blog url
      %td= external_auto_link(profile.blog)

  - if profile.bio.present?
    %tr
      %td Bio
      %td= profile.bio

- if profile.summary.present?
  %h4 Tell us a little about yourself!
  %p= profile.summary

- if profile.reasons.present?
  %h4 Why are you interested in joining Double Union?
  %p= profile.reasons

- if profile.projects.present?
  %h4 What would you like to work on in the space?
  %p= profile.projects

- if profile.skills.present?
  %h4 What skills are you most interested in learning, improving, and/or teaching?
  %p= profile.skills
