%h2 Edit profile

%p Profile fields are only visible to members and are totally optional.

= form_for @user, :url => admin_user_path(@user) do |f|

  = f.fields_for :profile do |fields|
    = fields.hidden_field :id

    %fieldset
      = f.submit 'Save profile'

    %fieldset
      = fields.check_box :show_name_on_site
      = fields.label :show_name_on_site, 'Show name/website/gravatar on public site?', :class => 'checkbox-label'

    %fieldset
      %legend= f.label :name
      = f.text_field :name

    %fieldset
      %legend= f.label :email, 'Email*'
      = f.text_field :email
      %small * used for #{link_to 'Gravatar', 'http://gravatar.com'} image

    %fieldset
      %legend= fields.label :twitter, 'Twitter username'
      = fields.text_field :twitter

    %fieldset
      %legend= fields.label :facebook, 'Facebook url'
      = fields.text_field :facebook

    %fieldset
      %legend= fields.label :website, 'Website url'
      = fields.text_field :website

    %fieldset
      %legend= fields.label :linkedin, 'LinkedIn url'
      = fields.text_field :linkedin

    %fieldset
      %legend= fields.label :blog, 'Blog url'
      = fields.text_field :blog

    %fieldset
      %legend= fields.label :bio, 'Short bio'
      = fields.text_area :bio, :rows => 6

  %fieldset
    = f.submit 'Save profile'
