%h2 Member admin

- if @applicants_submitted.any?
  %h3 Submitted applications
  %table.table
    %tr
      %th Name
      %th Username
      %th Submitted
      - if current_user.key_member?
        %th You
      %th Yes
      %th No
      %th ?
    - @applicants_submitted.each do |applicant|
      - application = applicant.application
      %tr
        %td
          = user_gravatar(applicant, 20)
          = link_to applicant.name, admin_application_path(application)
        %td= link_to applicant.username, admin_application_path(application)
        %td
          - if application.submitted_at
            = "#{time_ago_in_words(application.submitted_at)} ago"
          - else
            \--
        - if current_user.key_member?
          %td
            - if current_user.voted_on?(application)
              = current_user.vote_for(application).display_value
            - else
              none
        %td= application.yes_votes.size
        %td= application.no_votes.size
        %td= application.not_voted_count

- if @applicants_started.any?
  %h3.pending-applications-header
    %a{"data-toggle" => "collapse" , "href" => "#collapsePending"} Pending  applications <b class="caret"></b>
  %div.collapse.out#collapsePending
    %table.table
      %tr
        %th Name
        %th Username
        %th Started
      - @applicants_started.each do |applicant|
        - application = applicant.application
        %tr
          %td
            = user_gravatar(applicant, 20)
            = applicant.name
          %td= applicant.username
          %td= "#{time_ago_in_words(application.created_at)} ago"

- if @members_and_key_members.any?
  %h3 Members
  = render :partial => 'list', :locals => { :users => @members_and_key_members }
