%h2 Member admin

- if @open_applications.any?
  %h3 Applications
  %table.table
    %tr
      %th Name
      %th Username
      %th Submitted
      - if current_user.key_member?
        %th You
      %th Yes
      %th No
      %th ?
    - @open_applications.each do |application|
      %tr
        %td
          - if application.user.name.present?
            = link_to application.user.name, admin_application_path(application)
        %td= application.user.username
        %td= "#{time_ago_in_words(application.submitted_at)} ago"
        - if current_user.key_member?
          %td
            - if current_user.voted_on?(application)
              = current_user.vote_for(application).display_value
            - else
              none
        %td= application.yes_votes.size
        %td= application.no_votes.size
        %td= application.not_voted_count

- if @users.any?
  %h3 Users
  = paginate @users
  = render :partial => 'list', :locals => { :users => @users }
  = paginate @users
