%ul
  %li= link_to_unless_current 'Press', press_path
  %li= link_to_unless_current 'Policies', policies_path
  %li= link_to_unless_current 'Visiting', visit_path
  %li= link_to_unless_current 'Members', membership_path
  %li= link_to_unless_current 'Support', support_path
  %li= link_to_unless_current 'Base Assumptions', base_assumptions_path
  %li
    &copy;
    = Time.now.year
    Double Union
