%nav.navbar.navbar-default{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', :'data-toggle' => 'collapse', :'data-target' => '.navbar-ex1-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Double Union', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li= external_link_to 'Blog', TUMBLR_URL
        %li= external_link_to 'Twitter', TWITTER_URL

      - if logged_in?
        %ul.nav.navbar-nav.pull-right
          %li.vote-alert-badge
            %a{ href: members_applications_path }
              %span.badge= current_user.number_applications_needing_vote
        %ul.nav.navbar-nav.pull-right
          - unless current_user.general_member?
            %li.dropdown
              / %span.badge 5
              %a{ href: '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' }
                = user_gravatar(current_user)
                = current_user.username
                <b class="caret"></b>
              %ul.dropdown-menu
                - if current_user.visitor?
                  %li= link_to 'Apply', membership_path
                - elsif current_user.applicant?
                  %li= link_to 'Application', new_application_path
                %li.divider
                %li= link_to 'Sign out', logout_path
          - if current_user.general_member?
            %li
              = link_to edit_members_user_path(current_user) do
                = user_gravatar(current_user)
                = current_user.username
      - else
        %ul.nav.navbar-nav.pull-right
          %li{'data-toggle' => 'modal', 'data-target' => '#log_in'}
            = link_to "Log In", "#"

.modal#log_in
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        = link_to "Log In with GitHub", github_login_path, class: "btn btn-primary"
        = link_to "Log In with Google", google_login_path, class: "btn btn-primary"
