!!!
%html
  %head
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %title= html_title
    %meta{ content: html_description, name: 'description' }
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'admin', media: 'all' if members_page?
    = csrf_meta_tags
    = yield(:head)
  %body{ class: body_classes.join(' ') }
    .wrapper
      = render 'layouts/navigation'
      = render 'layouts/member_nav' if current_user && current_user.general_member?
      #main{ role: 'main' }
        = render 'layouts/messages'
        .container= yield
    %footer
      .container= render 'layouts/footer'
    = javascript_include_tag 'application'
    = yield :js
    = google_analytics
