!!!
%html
  %head
    %meta{ :content => 'width=device-width, initial-scale=1.0', :name => 'viewport' }
      %title= html_title
      %meta{ :content => html_description, :name => 'description' }
        = stylesheet_link_tag 'application', :media => 'all'
        = stylesheet_link_tag 'admin', :media => 'all' if admin_page?
        = csrf_meta_tags
        = yield(:head)
  %body{ :class => "#{controller_name} #{action_name}" }
    .wrapper
      = render 'layouts/navigation'
      #main{ :role => 'main' }
        = render 'layouts/messages'
        - if use_container?
          .container= yield
        - else
          = yield
    %footer
      .container= render 'layouts/footer'
    = javascript_include_tag 'application'
    = google_analytics
